/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/10/2014, 07:26:31 ص
    Author     : Majed
*/


#result{
    position: absolute;
    width:auto;
    background-color: white;
    z-index: 9999;
}
#box{
    width: 100%;
}
li:hover {
    background-color:skyblue; 
}
li:visited{
    color: wheat;
}
li{
    list-style: none;
}

H2, H3, #Mdesc{
    text-align:center;
}
.command{
    direction: ltr;
}
pre{
    white-space:pre-wrap;
}

@media (min-width: 1200px){
    #column{
        min-height: 210px;
    }
}
#logoContainer{
    float:right;
}
#logo{
    width: 100px;
    display: inline-block;
}
#search-button{
    width: 40px;
    height: 36px;
}